# MIT license dependencies
pyotp
cachetools
# For removal of output cells in Jyputer notebooks
nbstripout 

# MIT license, used only for Python < 3.7
pyyaml

# BSD license dependencies
qrcode[pil]
tblib

# Apache or BSD dependencies
cryptography
requests
